<section class="flex flex-col gap-6 justify-center items-center">
  <div class="flex flex-col gap-4 items-center text-center mt-24">

    <div
      class="flex flex-row items-center gap-1 rounded-xl px-3 py-1 hover:bg-[#F5F5F5] dark:hover:bg-[#252525] transition-all duration-300 cursor-pointer ">
      <span class="flex size-2 rounded-full bg-blue-500" title="New"></span>
      <p class="text-xs geist-badge">
        Built with Angular Signals</p>
      <i-lucide [img]="ArrowRight" [size]="12" strokeWidth="2" class="my-icon"></i-lucide>
    </div>

    <div class="flex flex-col gap-4 items-center text-center">
      <p class=" lg:text-5xl md:text-4xl text-4xl geist-hero font-semibold tracking-tight">
        The Foundation for Your Angular Components
      </p>

      <p class="geist-desc text-md lg:text-lg md:w-2xl w-xs text-center px-2">
        A modern component studio showcasing reusable Angular components, patterns, and workflows. Designed to be
        extended. Built for real applications.
      </p>

    </div>

  </div>

  <div class="flex space-x-4">
    <button
      class="dark:bg-[#CFCFCF] bg-neutral-900 hover:bg-neutral-950 dark:hover:bg-neutral-400 text-neutral-100 dark:text-neutral-800 geist-desc text-sm rounded-lg px-3 py-1 cursor-pointer transition-all duration-300">
      Get Started
    </button>
    <button
      class="text-sm geist-desc hover:bg-[#F5F5F5] dark:hover:bg-[#252525] rounded-lg px-3 py-1 cursor-pointer transition-all duration-300">
      View Components
    </button>
  </div>
</section>


