/* Custom scrollbar styles for sidebar */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgb(212 212 212) transparent;
}

.dark .scrollbar-thin {
  scrollbar-color: rgb(64 64 64) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 212);
  border-radius: 9999px;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(64 64 64);
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163 163 163);
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(82 82 82);
}

