<section class="mt-18 flex-1 space-y-6 px-8">
  <!--  select features - examples, Dashboard, Tasks and Auth -->
  <div class="geist-hero hidden md:flex md:items-center md:justify-between p-4">
    <div class="flex-1 space-x-2 md:space-x-8 text-md">
      <a href="/">Examples</a>
      <a href="/">Dashboard</a>
      <a href="/">Tasks</a>
      <a href="/">Playground</a>
      <a href="/">Authentication</a>
    </div>
    <div>
      <!--      select theme-->
      <button class="geist-hero text-sm ">
        <span class="px-2">Theme:</span>
        <span class="">Neutral</span>
      </button>
    </div>
  </div>


  <!--  Products i.e components showcase-->
  <div class=" overflow-hidden min-md:grid min-md:grid-cols-3 min-lg:grid-cols-4 hidden gap-8">
    <app-form></app-form>
    <div class="col-span-1 flex flex-col gap-4">
      <app-pricing-card></app-pricing-card>
      <app-preferences></app-preferences>
      <app-summary-card></app-summary-card>
      <app-notification></app-notification>
    </div>

    <div class="col-span-1 flex flex-col gap-4">
      <app-profile-card></app-profile-card>
      <app-activity-feed></app-activity-feed>
    </div>
  </div>


  <div class="relative md:hidden overflow-hidden rounded-xl">
    <div class="relative">
      @if (this.mode() === 'dark') {
        <img
          decoding="async"
          src="/toggle/dashboard-dark.png"
          alt="hero-section-dark-image"
          class="
          w-full
          scale-100
          object-cover
        "
        />
      }

      @if (this.mode() === 'light') {
        <img
          decoding="async"
          src="/toggle/dashboard-light.png"
          alt="hero-section-light-image"
          class="
          w-full
          scale-100
          object-cover
        "
        />
      }
    </div>
  </div>
</section>
