<header>

  <div class="flex flex-row justify-between px-4 py-3">
    <div class="flex flex-row gap-10 text-sm font-semibold">
      <a href="" class="">Docs</a>
      <a href="" class="">Docs</a>
      <a href="" class="">Docs</a>
      <a href="" class="">Docs</a>
      <a href="" class="">Docs</a>
    </div>

    <div class="flex flex-row gap-10">
      <input type="text" placeholder="Search documentation..." class="border border-neutral-200 focus:outline-neutral-300 p-1 rounded-md placeholder:text-sm placeholder:text-neutral-500"/>
      <div></div>
      <button class="text-xs px-6 rounded-lg py-1 bg-neutral-900 text-neutral-100">New Project</button>
    </div>

  </div>

</header>
