/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.geist-header {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.geist-hero {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 500;*/
  font-style: normal;
}

.geist-badge {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.geist-desc {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
